<footer>
   <div class="footer">
      <div class="container">
         <div class="row">
            <div class="col-md-3 col-sm-6">
               <div class="infoma text_align_left">
                  <h3>About</h3>
                  <p class="ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sedconsectetur </p>
                  <ul class="social_icon">
                     <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                     <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                     <li><a href="Javascript:void(0)"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                     <li><a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-3 col-sm-6">
               <div class="infoma">
                  <h3>Adderess</h3>
                  <ul class="conta">
                     <li>Healing Center, oo W Street name, <br>
                        Loram ipusum 
                     </li>
                     <li>(+71) 8522369417 <br>(+71) 8522369417</li>
                     <li> <a href="Javascript:void(0)"> demo@gmail.com</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-3 pad_lrft col-sm-6">
               <div class="infoma">
                  <h3>Links</h3>
                  <ul class="fullink">
                     <li><Home</a></li>
                     <li><About</a></li>
                     <li><Shop</a></li>
                      <li><Quality</a></li>
                     <li><Contact</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-3 col-sm-6">
               <div class="infoma">
                  <h3>Newsletter</h3>
                  <form class="form_subscri">
                     <div class="row">
                        <div class="col-md-12">
                           <input class="newsl" placeholder="Your Name" type="text" name="Your Name">
                        </div>
                        <div class="col-md-12">
                           <input class="newsl" placeholder="Email" type="text" name="Email">
                        </div>
                        <div class="col-md-12">
                           <button class="subsci_btn">subscribe</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <p>© 2024 All Rights Reserved.  <a href="https://html.design/"> Free html Templates</a></p>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>