<%- include('partials/header') %>

<div class="about">
   <div class="container">
      <div class="row d_flex">
         <div class="col-md-6">
            <div class="titlepage text_align_left">
               <h2>About Our Honey</h2>
               <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
               <a class="read_more" href="/about">Read More</a>
            </div>
         </div>
         <div class="col-md-6">
            <div class="about_img text_align_center">
               <figure><img class="img_responsive" src="/images/about.png" alt="#"/></figure>
            </div>
         </div>
      </div>
   </div>
</div>

<%- include('partials/footer') %>
<%- include('partials/end') %>
