<%- include('partials/header', { title: 'Contact Us' }) %>

<!-- contact -->
<div class="contact">
   <div class="container">
      <div class="row ">
         <div class="col-md-12">
            <div class="titlepage text_align_center">
               <h2>Contact Us</h2>
            </div>
         </div>
         <div class="col-md-10 offset-md-1 ">
            <form id="request" class="main_form">
               <div class="row">
                  <div class="col-md-6 ">
                     <input class="contactus" placeholder="Full Name" type="text" name="Name"> 
                  </div>
                  <div class="col-md-6">
                     <input class="contactus" placeholder="Email" type="email" name="Email">                          
                  </div>
                  <div class="col-md-6">
                     <input class="contactus" placeholder="Phone Number" type="tel" name="Phone Number">                          
                  </div>
                  <div class="col-md-6">
                     <textarea class="textarea" placeholder="Message" name="Message"></textarea>
                  </div>
                  <div class="col-md-12">
                     <button class="send_btn">Send</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- contact -->  

<%- include('partials/footer') %>
<%- include('partials/end') %>
