<%- include('partials/header') %>

<!-- quality -->
<div class="quality">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>Quality OF Honey For sale</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but There are many variations of passages of Lorem Ipsum available, but</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="quality-box">
                    <figure><img src="images/quality1.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="quality-box">
                    <figure><img src="images/quality2.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="quality-box">
                    <figure><img src="images/quality3.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="quality-box">
                    <figure><img src="images/quality4.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="quality-box">
                    <figure><img src="images/quality5.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="quality-box">
                    <figure><img src="images/quality6.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="quality-box">
                    <figure><img src="images/quality7.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="quality-box">
                    <figure><img src="images/quality8.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-sm-12">
                <a class="read_more" href="Javascript:void(0)">See More</a>
            </div>
        </div>
    </div>
</div>
<!-- end quality -->

<%- include('partials/footer') %>
<%- include('partials/end') %>