<%- include('partials/header') %>

<div class="honey_bg">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage text_align_center">
                <h2>Our Shop</h2>
             </div>
          </div>
          <div class="col-sm-12">
             <figure><img class="img_responsive" src="images/honet_img.png" alt="#"/></figure>
          </div>
       </div>
    </div>
 </div>
 
 
 <!-- Our Shop section -->
 <div class="shop_section">
    <div class="container">
       <div class="row">
          <div class="col-md-4 col-sm-6">
             <div class="shop_box">
                <figure><img src="images/product1.png" alt="#"/></figure>
                <h3>Honey 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a class="buy_now" href="#">Buy Now</a>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div class="shop_box">
                <figure><img src="images/product2.png" alt="#"/></figure>
                <h3>Honey 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a class="buy_now" href="#">Buy Now</a>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div class="shop_box">
                <figure><img src="images/product3.png" alt="#"/></figure>
                <h3>Honey 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a class="buy_now" href="#">Buy Now</a>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div class="shop_box">
                <figure><img src="images/product4.png" alt="#"/></figure>
                <h3>Honey 4</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a class="buy_now" href="#">Buy Now</a>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div class="shop_box">
                <figure><img src="images/product5.png" alt="#"/></figure>
                <h3>Honey 5</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a class="buy_now" href="#">Buy Now</a>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div class="shop_box">
                <figure><img src="images/product6.png" alt="#"/></figure>
                <h3>Honey 6</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a class="buy_now" href="#">Buy Now</a>
             </div>
          </div>
       </div>
    </div>
 </div>

<%- include('partials/footer') %>
<%- include('partials/end') %>
 